# STRING FUNCTION -Inbuilt Function
upper()--returns string which all the characters in upper case   
lower()--returs string which all characters in lower case

In [1]:
str="anil"
print(str.upper())
print(str.lower())

ANIL
anil

# BOOLEAN METHODS
is lower()--Method returns the output either true or false ,if it is true the given character is in lower case and if not it returs false.

In [3]:
s='Python is Easy'
s1="python"
print(s.islower())
print(s1.islower())

False
True

 ***isupper()---true or false

In [5]:
S='Application'
s1='ANIL'
print(s.isupper())
print(s1.isupper())

False
True

** isnumeric()--true and false
** isalpha()--true and false(given string only have alphabetic characters)

In [4]:
a="4546"
print(a.isnumeric())

AttributeError: 'str' object has no attribute 'isnumeric'

In [5]:
s="Application"
s1="App1889"
print(s.isalpha())
print(s1.isalpha())

True
False

In [6]:
s="Python programming"
s1="python Programming"
print(s.istitle())
print(s1.istitle())

False
False

In [7]:
s="Python"
s1="python programming"
print(s.isspace())
print(s1.isspace())

False
False

# String Methods
  1.join():join() method will concatenate two strings   
  2.split(): split() returns the a list of strings that are separated by white space    
  3.replace()--original string with the new string

In [9]:
str='Python'
print(" ".join(str))

P y t h o n

In [10]:
print(",".join(["Python","Programming","Easy"]))

Python,Programming,Easy

In [13]:
lst=[","]
print(",".join(lst))

,

In [17]:
s="Python,Programming, is, easy, to, learn"
print(s.split())
print(s.split("a"))
print(s.split(","))

['Python,Programming,', 'is,', 'easy,', 'to,', 'learn']
['Python,Progr', 'mming, is, e', 'sy, to, le', 'rn']
['Python', 'Programming', ' is', ' easy', ' to', ' learn']

In [18]:
s="Python Programming is easy to learn"
lst=s.split()
print(lst)
print(lst.index("is"))

['Python', 'Programming', 'is', 'easy', 'to', 'learn']
2

In [2]:
s="Python Programming is easy to learn"
lst=list(s)
print(lst)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [1]:
s="Python Programming"
print(s.replace("gra","application"))

Python Proapplicationmming

# Python Tuples
**A tuple of seq of set of objects is like list only   
**The difference of list and tuples are,the tuples cannot be changed unlike list  
**List will use square brackets hold objects[]  
**Tuples will use parentheses to hold objects()   
**Tuples are useful when the given output is only for reading purpose

In [4]:
t1=("Python","Programming",1989,2019,"Machine Learning",'Al')
t2=(1,2,3,4,5)
print(t1)
print(t2)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'Al')
(1, 2, 3, 4, 5)

In [10]:
t1=("Python","Programming",1989,2019,"Machine Learning",'Al')
print("t1[0]=",t1[0])
print("t1[2]=",t1[2])
print("t1[-1]=",t1[-1])
print("t1[1:4]",t1[1:4])
print("t1[2:-2]",t1[2:-2])

('t1[0]=', 'Python')
('t1[2]=', 1989)
('t1[-1]=', 'Al')
('t1[1:4]', ('Programming', 1989, 2019))
('t1[2:-2]', (1989, 2019))

In [13]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(t1)
#t1[2]=2018  #del is not supported
del t1[2]

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

TypeError: 'tuple' object doesn't support item deletion

In [14]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(t1)
del t1          #since t1 is deleted so it will not run
print(t1)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

NameError: name 't1' is not defined

In [16]:
t1=("Python","Programming")
t2=(1989,2019,"ML","AI")
t3=t1+t2
print(t3)

('Python', 'Programming', 1989, 2019, 'ML', 'AI')

# Tuple Method
1.len(tuple)--length of tuple  
2.max(tuple)--returns the max value of the tuple   
3.min(tuple)--returns the max value of the tuple   
4.cmp(tuple1,tuple2)--returns the value as 1 or -1

In [17]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(len(t1))

6

In [15]:
t1=(19,2,16,25,18,1,6)
print(max(t1))

25

In [18]:
list1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(list1)
tuple1=tuple(list1)
print(tuple1)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')
('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

# PYTHON-DICTIONARY
Dictionary each key is separated with value by colon(:)   
User data can be separated from comma operator   

Methods:-    
1.len(dicobj);-returns a number which having length    
2.str(dicobj):- returns string equivalent to dictionary  
3.copy() :-   copies the one dic object to another dic optionary data

In [21]:
user1={'Name':'Bhavana','Age':'19','Emailid':'chbhavana@gmail.com','Mobilenumber':'108'}
print("user1[Name]=",user1['Name'])
print("user1[Emailid]=",user1['Emailid'])
print("user1[Age]=",user1['Age'])
print("user1[Mobilenumber]=",user1['Mobilenumber'])

('user1[Name]=', 'Bhavana')
('user1[Emailid]=', 'chbhavana@gmail.com')
('user1[Age]=', '19')
('user1[Mobilenumber]=', '108')

In [24]:
user1={'Name':'Bhavana','Age':'19','Emailid':'chbhavana@gmail.com','Mobilenumber':'108'}
print(user1['Emailid'])
#update the dict object  data
user1['Emailid']='chbvana@gmail.com'
print(user1['Emailid'])
user1['Address']='Hyderabad' #New entery for an item in dict object
print(user1['Address'])

chbhavana@gmail.com
chbvana@gmail.com
Hyderabad

In [25]:
user1={'Name':'Bhavana','Age':'19','Emailid':'chbhavana@gmail.com','Mobilenumber':'108'}
del user1['Emailid']
user1.clear()
del user1

In [26]:
user1={'Name':'Bhavana','Age':'19','Emailid':'chbhavana@gmail.com','Mobilenumber':'108'}
print(len(user1))
user1['Address']='Hyderabad'
print(len(user1))

4
5

In [27]:
user1={'Name':'Bhavana','Age':'19','Emailid':'chbhavana@gmail.com','Mobilenumber':'108'}
print(str(user1))

{'Emailid': 'chbhavana@gmail.com', 'Mobilenumber': '108', 'Age': '19', 'Name': 'Bhavana'}

In [32]:
user={'Name':'Bhavana','Age':'19','Emailid':'chbhavana@gmail.com','Mobilenumber':'108'}
user1=user.copy()
print(user)
print(user1)
user1['Address']='Hyderabad'
print(user)
print(user1)

{'Emailid': 'chbhavana@gmail.com', 'Mobilenumber': '108', 'Age': '19', 'Name': 'Bhavana'}
{'Emailid': 'chbhavana@gmail.com', 'Mobilenumber': '108', 'Age': '19', 'Name': 'Bhavana'}
{'Emailid': 'chbhavana@gmail.com', 'Mobilenumber': '108', 'Age': '19', 'Name': 'Bhavana'}
{'Emailid': 'chbhavana@gmail.com', 'Mobilenumber': '108', 'Age': '19', 'Name': 'Bhavana', 'Address': 'Hyderabad'}