<a href="https://colab.research.google.com/github/bhavanachintha/Python-1-/blob/master/Day_12_(29_06_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Create a series of numbers by passing a list of values

import pandas as pd
a=pd.Series([1,3,4,5,6,7])
print(a)

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [0]:
#Missing valuesthen it can be nan of numpy
import numpy as np
a1=pd.Series([1,2,3,4,np.nan,6])
print(a1)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
dtype: float64

In [0]:
# Create a list of dates with in particular range

dates = pd.date_range('20190601',periods=10)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10'],
              dtype='datetime64[ns]', freq='D')

In [7]:
lst=pd.date_range('20190601',periods=5)
print(lst)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05'],
              dtype='datetime64[ns]', freq='D')

In [0]:
#Creating a dict converted into series of values
a3=pd.DataFrame({'A':1.,
                'B':pd.Timestamp('20190601'),
                'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                'D':np.array([3]*4,dtype='int32'),
                'E':pd.Categorical(["test","train","test","train"]),
                'F':'foo'})
print(a3)

     A          B    C  D      E    F
0  1.0 2019-06-01  1.0  3   test  foo
1  1.0 2019-06-01  1.0  3  train  foo
2  1.0 2019-06-01  1.0  3   test  foo
3  1.0 2019-06-01  1.0  3  train  foo

**Turtle is a Python feature like a drawing board    
**Lines,Squares,Star,Rect and etc    
**Turtle()--It creates and returns a new turtle object